*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EECF6D;
}

.headline{
    background-color: #048BA8;
    width: 100%;
    text-align: center;
}

nav{
    position: sticky;
    top: 0;
    height: 30px;
    background-color: #2E4057;
    width: 100%;
    color: white;
}

nav .dialouge{
    background-color: green;
    width: 120px;
    margin: 10px 30px;
    padding: 10px;
}

body .one , .two, .three, .four{
    background-color: #720E07;
    color: #DEE7E7;
    margin: 25px;
    padding: 50px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
}
