*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #EECF6D;
}

.headline{
    padding: 3px    ;
    background-color: #048BA8;
    width: 100%;
    text-align: center;
}

nav{
    position: sticky;
    top: 0;
    height: 40px;
    background-color: #2E4057;
    width: 100%;
    color: white;
}

nav button{
    background-color: rgb(203, 144, 17);
    border: 1px solid black;
    /* color: white; */
    padding: 3px;
    font-weight: 500;
    margin: 10px;
    font-size: 22 px;
}

nav .dialouge{
    display: none;
    background-color: #395C6B;
    width: 150px;
    margin: 5px 30px;
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 15px;
}

nav .dialouge a{
    text-decoration: none;
    color: white;
}

.new-dialouge{
    display: block;
}

body .one , .two, .three, .four{
    background-color: #720E07;
    color: #DEE7E7;
    margin: 25px;
    padding: 60px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 18px;
}